<div class="col">
  <div class="card" style="width: 15rem;">
    <img src="assets/Logitech-MK240.jpg" class="card-img-top" alt="TEMP" style="width: 250px; height: 200px; max-width: 100%;">
    <div class="card-body">
      <p class="card-text">
        <a href="#" class="text-decoration-none text-dark">
          Logitech MK240 Nano Wireless USB Keyboard and Mouse Black\White
        </a>
        <!-- {{product name}} -->
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column">
          <span class="text-bold">
            ₹1,449
            <!-- {{discounted price}} -->
          </span>
          <span class="text-muted text-decoration-line-through">
            ₹1,999
            <!-- {{actual price}} -->
          </span>
        </div>
        <small class="text-success">
          28% off
          <!-- {{ discount }} -->
        </small>
      </div>
    </div>
  </div>
</div>